* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.open {
  height: auto !important;
}

/********************** container navbar **********************/
.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 120px;
  background-color: #000;
  border-top: 5px solid #40aed7;
}
/********************** header navbar **********************/
.nav-grid {
  display: grid;
  grid-template-columns: 225px 1fr;
}
.logo {
  color: #fff;
  margin-top: 40px;
}
.logo h1 {
  font-size: 28px;
  text-transform: uppercase;
}
.logo span {
  font-size: 12px;
}
/********************** logo navbar **********************/
ul.menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  margin-top: 7%;
}
ul.menu li {
  list-style: none;
}
ul.menu li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  padding: 5px 10px;
}

ul.menu li a:hover {
  background-color: #40aed7;
  padding: 5px 10px;
  border-radius: 5%;
}
/********************** link navbar **********************/

/********************** content **********************/
.content {
  width: 100%;
  height: auto;
}
.content-heading {
  font-size: 80px;
  color: #333;
}
/********************** content heading **********************/
/********************** content-services-items **********************/
.content-services {
  width: 100%;
  height: auto;
  margin-top: 60px;
  margin-bottom: 50px;
}
.content-services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  text-align: center;
}
.content-services-items {
  border: 1px solid #e4e4e4;
  padding: 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.content-services-items .fa {
  font-size: 5rem;
  color: #333;
}
.content-services-items h2 {
  font-size: 32px;
  text-transform: uppercase;
  color: #333;
  margin: 20px 0;
}
.content-services-items p {
  font-size: 12px;
  color: #979797;
}
/********************** content-services-items hover **********************/
.content-services-items:hover {
  border: 1px solid #40aed4;
  padding: 20px;
  background: #40aed4;
}
.content-services-items:hover .fa {
  font-size: 5rem;
  color: #fff;
}
.content-services-items:hover h2 {
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
  margin: 20px 0;
}
.content-services-items:hover p {
  font-size: 12px;
  color: #fff;
}
/********************** content-meet **********************/
.content-meet {
  font-size: 80px;
  margin-bottom: 50px;
  color: #d3d3d3;
  text-align: center;
}
/********************** content-team **********************/
.content-teams {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.content-teams-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  grid-gap: 1rem;
}
.content-teams-items img {
  width: 100%;
}
.content-teams-items h2 {
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #e4e4e4;
  padding: 18px 0;
}
.content-teams-items p {
  font-size: 12px;
  color: #979797;
  margin-top: 10px;
  text-align: left;
}
.link-right {
  text-align: right;
}
.content-teams-items a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #40aed7;
  font-size: 14px;
}

/********************** footer **********************/
footer {
  width: 100%;
  height: 390px;
  background-color: #303030;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
/********************** footer-items **********************/
.footer-items {
  padding: 30px 0;
}
/********************** footer-items-from the blog **********************/
.footer-items:nth-child(1) h3 {
  color: #fff;
  font-size: 16px;
}
.footer-items:nth-child(1) h4 {
  margin-top: 30px;
  color: #979797;
  font-size: 13px;
}
.footer-items:nth-child(1) span.admin {
  display: inline-block;
  margin: 5px 0;
  color: #666;
  font-size: 10px;
}
.footer-items:nth-child(1) span.admin a {
  color: #40aed7;
  font-size: 10px;
  text-decoration: none;
}
.footer-items:nth-child(1) span.date {
  display: inline-block;
  color: #979797;
  margin: 5px 0;
  font-size: 10px;
}
.footer-items:nth-child(1) p {
  color: #979797;
  font-size: 12px;
  margin: 10px 0;
}
.footer-items:nth-child(1) a {
  color: #40aed7;
  font-size: 12px;
  text-decoration: none;
}
/********************** footer-items-quick links **********************/
.footer-items:nth-child(2) h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 30px;
}
.footer-items:nth-child(2) ul {
  list-style: none;
}
.footer-items:nth-child(2) ul li {
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #404040;
}
.footer-items:nth-child(2) ul li a {
  color: #40aed7;
  text-decoration: none;
}

/********************** footer-items-latest Tweets **********************/
.footer-items:nth-child(3) h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 30px;
}
.footer-items:nth-child(3) p {
  margin-top: 10px;
  color: #979797;
}
.footer-items:nth-child(3) p a {
  color: #40aed7;
  text-decoration: none;
}
/********************** footer-items-contact **********************/
.footer-items:nth-child(4) h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 30px;
}
.footer-items:nth-child(4) input,
textarea {
  width: 225px;
  height: 35px;
  background-color: #222222;
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
}
.footer-items:nth-child(4) textarea {
  height: 80px;
}
.footer-items:nth-child(4) input[type="submit"] {
  background-color: #40aed7;
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

/********************** copyright **********************/
.copyright {
  background-color: #2b2b2b;
  width: 100%;
  height: 60px;
}
.copyright-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 60px;
  color: #979797;
}
.copytext {
  justify-self: flex-start;
  align-self: center;
}
.credits {
  justify-self: flex-end;
  align-self: center;
}

/********************** media quries **********************/
@media only screen and (max-width: 800px) {
  /* *********************** navbar ************************ */
  header {
    height: auto;
  }
  .nav-grid {
    text-align: center;
    grid-template-columns: 1fr;
  }
  ul.menu {
    grid-template-columns: 1fr;
  }
  ul.menu li {
    height: 2.5rem;
  }
  /* *********************** content section ************************ */
  .content-heading {
    margin-top: 1.5rem;
    font-size: 2.5rem;
    text-align: center;
  }

  .content-services-grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .content-services-items {
    width: 95%;
  }

  .content-meet {
    font-size: 2.5rem;
  }
  .content-teams-grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .content-teams-items {
    width: 95%;
  }
  .content-teams-items p {
    font-size: 1.2rem;
  }

  /* *********************** footer ************************ */
  footer {
    height: auto;
  }
  .footer-grid {
    text-align: center;
    grid-template-columns: 1fr 1fr;
  }
  .footer-items:nth-child(1) {
    padding: 2rem 2rem;
  }
  .footer-items:nth-child(3) {
    padding: 2rem;
  }

  /* *********************** copyright ************************ */
  .copyright {
    height: auto;
    padding: 1rem 0;
  }
  .copyright-grid {
    grid-template-columns: 1fr;
  }
  .copytext {
    justify-self: center;
    font-size: 0.8rem;
  }
  .credits {
    justify-self: center;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 768px) {
  /* *********************** navbar ************************ */
  header {
    height: auto;
  }
  .nav-grid {
    text-align: center;
    grid-template-columns: 1fr;
  }
  ul.menu {
    grid-template-columns: 1fr;
  }
  ul.menu li {
    height: 2.5rem;
  }
  /* *********************** content section ************************ */
  .content-heading {
    margin-top: 1.5rem;
    font-size: 2.5rem;
    text-align: center;
  }

  .content-services-grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .content-services-items {
    width: 95%;
  }

  .content-meet {
    font-size: 2.5rem;
  }
  .content-teams-grid {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .content-teams-items {
    width: 95%;
  }
  .content-teams-items p {
    font-size: 1.2rem;
  }

  /* *********************** footer ************************ */
  footer {
    height: auto;
  }
  .footer-grid {
    text-align: center;
    grid-template-columns: 1fr 1fr;
  }
  .footer-items:nth-child(1) {
    padding: 2rem 2rem;
  }
  .footer-items:nth-child(3) {
    padding: 2rem;
  }

  /* *********************** copyright ************************ */
  .copyright {
    height: auto;
    padding: 1rem 0;
  }
  .copyright-grid {
    grid-template-columns: 1fr;
  }
  .copytext {
    justify-self: center;
    font-size: 0.8rem;
  }
  .credits {
    justify-self: center;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 480px) {
  .hamburger {
    display: inline-block;
    margin: 1rem;
  }
  .logo {
    margin-top: 0;
  }
  /* *********************** navbar ************************ */
  header {
    height: auto;
  }
  .nav-grid {
    text-align: center;
    grid-template-columns: 1fr;
    height: 0;
  }
  ul.menu {
    grid-template-columns: 1fr;
  }
  ul.menu li {
    height: 2.5rem;
  }

  /* *********************** content section ************************ */
  .content-heading {
    margin-top: 1.5rem;
    font-size: 2.5rem;
    text-align: center;
  }

  .content-services-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .content-services-items {
    width: 85%;
  }

  .content-meet {
    font-size: 2.5rem;
  }
  .content-teams-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .content-teams-items {
    width: 85%;
  }
  .content-teams-items p {
    font-size: 1.2rem;
  }

  /* *********************** footer ************************ */
  footer {
    height: auto;
  }
  .footer-grid {
    text-align: center;
    grid-template-columns: 1fr;
  }
  .footer-items:nth-child(1) {
    padding: 2rem 2rem;
  }
  .footer-items:nth-child(3) {
    padding: 2rem;
  }

  /* *********************** copyright ************************ */
  .copyright {
    height: auto;
    padding: 1rem 0;
  }
  .copyright-grid {
    grid-template-columns: 1fr;
  }
  .copytext {
    justify-self: center;
    font-size: 0.8rem;
  }
  .credits {
    justify-self: center;
    font-size: 0.8rem;
  }
}
